.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;

  > .box {
    transform: translateY(-10vh);
    font-size: 24px;

    > .header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vh;
      background: #fff;
    }

    > .main {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: #ccc;
    }
  }
}

.success {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  background: #fff;
  border: 3px solid #333;
  border-radius: 50px;
}

.success::after,
.success::before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 20px;
  transform: rotate(45deg);
  height: 28px;
  width: 4px;
  background: #333;
  border-radius: 10px;
}

.success::before {
  top: 18px;
  left: 8px;
  transform: rotate(-45deg);
  height: 12px;
}

.error {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 4px solid #333;
}

.error::before,
.error::after {
  content: '';
  display: block;
  position: absolute;
  top: 12.5px;
  left: 4px;
  transform: rotate(-45deg);
  height: 6px;
  width: 24px;
  background: #333;
  border-radius: 10px;
}

.error::after {
  transform: rotate(45deg);
}
