@import "../Adaptation/style.scss";

.datePicker {
  @include font-dpr(20px);

  select {
    font-size: 20px;
  }

  td {
    width: 1rem;
    height: 1rem;
    text-align: center;
    background: rgb(155, 153, 153);
    color: rgb(247, 244, 244);
  }

  .fadeOut {
    background: rgb(247, 244, 244);
    color: rgb(155, 153, 153);
  }

  .currentIndex {
    background: peru;
  }
}

