<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cumt.mapper.AirportMapper">
    <resultMap id="BaseResultMap" type="com.cumt.pojo.Airport">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
        <result column="airport_name" jdbcType="VARCHAR" property="airportName" />
    </resultMap>
    <select id="getAirports" resultType="Airport">
        select city.city_code, city.city_name, airport.airport_code,airport.airport_name
        from city inner join airport on city.city_code = airport.city_code
        where city.city_code  like #{text}
        or airport.city_code  like #{text}
        or city.city_name  like #{text}
        or airport.airport_name like #{text}
    </select>
</mapper>
