<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cumt.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.cumt.pojo.City">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
        <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
        <result column="country_id" jdbcType="INTEGER" property="countryId" />
    </resultMap>
    <select id="queryByCountry" resultMap="BaseResultMap" resultType="City">
        select city.country_id,city.id,city.city_name,city.city_code from city INNER JOIN hot_city on city.city_id = hot_city.city_id
    </select>
</mapper>