<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cumt.mapper.FlightMapper">
    <resultMap id="BaseResultMap" type="com.cumt.pojo.Flight">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="flight_id" jdbcType="CHAR" property="flightId" />
        <result column="plane_id" jdbcType="VARCHAR" property="planeId" />
        <result column="depart_airport_code" jdbcType="VARCHAR" property="departAirportCode" />
        <result column="arrive_airport_code" jdbcType="VARCHAR" property="arriveAirportCode" />
        <result column="depart_time" jdbcType="TIMESTAMP" property="departTime" />
        <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
        <result column="flight_type" jdbcType="INTEGER" property="baseFire" />
        <result column="base_fire" jdbcType="DECIMAL" property="baseFire" />
        <result column="first_class_count" jdbcType="INTEGER" property="planeId" />
        <result column="business_class_count" jdbcType="INTEGER" property="planeId" />
        <result column="economy_class_count" jdbcType="INTEGER" property="planeId" />
        <result column="voyage" jdbcType="DECIMAL" property="planeId" />
    </resultMap>
    <select id="getFlightsBySearch" resultMap="BaseResultMap" resultType="Flight">
        select * from `flight` where flight.depart_airport_code in
         (select airport.airport_code from `city` INNER JOIN `airport` on city.city_code = airport.city_code where city.city_code = #{1})
        and flight.arrive_airport_code in
         (select airport.airport_code from `city` INNER JOIN `airport` on city.city_code = airport.city_code where city.city_code = #{2})
    </select>
</mapper>

