<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cumt.mapper.FlightMapper">
    <resultMap id="BaseResultMap" type="com.cumt.pojo.Flight">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="flight_id" jdbcType="CHAR" property="flightId" />
        <result column="plane_id" jdbcType="VARCHAR" property="planeId" />
        <result column="depart_airport_code" jdbcType="VARCHAR" property="departAirportCode" />
        <result column="arrive_airport_code" jdbcType="VARCHAR" property="arriveAirportCode" />
        <result column="depart_time" jdbcType="TIMESTAMP" property="departTime" />
        <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
        <result column="flight_type" jdbcType="INTEGER" property="baseFire" />
        <result column="base_fire" jdbcType="DECIMAL" property="baseFire" />
        <result column="first_class_count" jdbcType="INTEGER" property="planeId" />
        <result column="business_class_count" jdbcType="INTEGER" property="planeId" />
        <result column="economy_class_count" jdbcType="INTEGER" property="planeId" />
        <result column="depart_airport_name" jdbcType="VARCHAR" property="departAirportName" />
        <result column="arrive_airport_name" jdbcType="VARCHAR" property="arriveAirportName" />
        <result column="depart_city_name" jdbcType="VARCHAR" property="departCityName" />
        <result column="arrive_city_name" jdbcType="VARCHAR" property="arriveCityName" />
        <result column="ticket_price" jdbcType="DECIMAL" property="ticketPrice" />
        <result column="airport_tax" jdbcType="DECIMAL" property="airportTax" />
    </resultMap>
    <select id="getFlightsBySearch" resultMap="BaseResultMap">
        select flight.* from `flight`
        <where>
            <choose>
                <when test="flightSearch.departAirportCode=='ALL'">
                    flight.depart_airport_code in
                    (select airport.airport_code from `city` INNER JOIN `airport`
                    on city.city_code = airport.city_code
                    where city.city_code = #{flightSearch.departCityCode})
                </when>
                <otherwise>
                    flight.depart_airport_code = #{flightSearch.departAirportCode}
                </otherwise>
            </choose>
            <choose>
                <when test="flightSearch.arriveAirportCode=='ALL'">
                    and flight.arrive_airport_code in
                    (select airport.airport_code from `city` INNER JOIN `airport`
                    on city.city_code = airport.city_code
                    where city.city_code = #{flightSearch.arriveCityCode})
                </when>
                <otherwise>
                    and flight.arrive_airport_code = #{flightSearch.arriveAirportCode}
                </otherwise>
            </choose>
            <if test="flightSearch.departTime!=null">
                and flight.depart_time >= #{flightSearch.departTime}
            </if>
            <if test="flightSearch.returnTime!=null">
                and flight.return_time <![CDATA[<=]]> #{flightSearch.returnTime}
            </if>
        </where>
        <choose>
            <when test="flightSearch.classType == 0">
                and flight.first_class_count >= #{flightSearch.passenger}
            </when>
            <when test="flightSearch.classType == 1">
                and flight.business_class_count >= #{flightSearch.passenger}
            </when>
            <otherwise>
                and flight.economy_class_count >= #{flightSearch.passenger}
            </otherwise>
        </choose>
        limit ${start},${size}
    </select>
    <update id="minusClassCount" >
        update flight
        <set>
            <choose>
                <when test="classType == 0">
                    flight.first_class_count = flight.first_class_count - 1
                </when>
                <when test="classType == 1">
                    flight.business_class_count = flight.business_class_count - 1
                </when>
                <otherwise>
                    flight.economy_class_count = flight.economy_class_count - 1
                </otherwise>
            </choose>
            where flight_id = #{flightId}
        </set>
    </update>
</mapper>

