<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cumt.mapper.FlightMapper">
    <resultMap id="BaseResultMap" type="com.cumt.pojo.Flight">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="depart_city_code" jdbcType="VARCHAR" property="departCityCode" />
        <result column="arrive_city_code" jdbcType="VARCHAR" property="arriveCityCode" />
    </resultMap>
    <select id="list" resultMap="BaseResultMap" resultType="Flight">
        select * from flight where depart_city_code = #{0} and arrive_city_code = #{1};
    </select>
</mapper>

