<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cumt.mapper.PassengerMapper">
    <resultMap id="BaseResultMap" type="com.cumt.pojo.Passenger">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="passenger_id" jdbcType="VARCHAR" property="passengerId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="ownership" jdbcType="VARCHAR" property="ownership" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
    </resultMap>
    <select id="getPassengersByUserId" resultMap="BaseResultMap">
          select * from `passenger` INNER JOIN `user` on `passenger`.user_id = `user`.user_id
          <where>
            <if test="userId !=null">
                user.user_id = #{userId}
            </if>
        </where>
    </select>

    <insert id="addPassenger">
        insert into `passenger`(passenger_id, name, ownership, user_id, card_number, birthday, gender)
        values (#{passenger.passengerId},
        #{passenger.name},
        #{passenger.ownership},
        #{passenger.userId},
        #{passenger.cardNumber},
        #{passenger.birthday},
        #{passenger.gender})
    </insert>
</mapper>
