<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cumt.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.cumt.pojo.City">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <select id="getUserId" resultMap="BaseResultMap" resultType="User">
        select user_id from `user` where user_id = #{userId}
    </select>
    <select id="getPassword" resultMap="BaseResultMap" resultType="User">
        select password from `user` where user_id = #{userId}
    </select>
</mapper>