@import "../Adaptation/style.scss";

.game-container {
  position: relative;
  width: 7.7rem;
  margin: 0 auto;

  .grid {
    width: 7rem;
    background: #bbada0;
    padding: 0.375rem;
    border-radius: 0.16rem;

    .row {
      display: flex;
      margin-bottom: 0.2rem;
      justify-content: space-between;

      .tr-container {
        position: relative;
        overflow: hidden;
        width: 1.54rem;
        height: 1.54rem;
      }

      .cell {
        width: 1.54rem;
        height: 1.54rem;
        border-radius: 0.08rem;
        background: rgba(238, 228, 218, 0.35);
      }

      .tile {
        @include font-dpr(50px);

        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1.54rem;
        height: 1.54rem;
        border-radius: 0.08rem;
        line-height: 1.54rem;
        color: #f9f6f2;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
        transform: translate(0, 0);
        transition: 100ms ease-in-out;
        transition-property: transform;
      }

      .tile-2 {
        background: #eee4da;
        color: #776e65;
      }

      .tile-4 {
        background: #ede0c8;
        color: #776e65;
      }

      .tile-8 {
        background: #f2b179;
      }

      .tile-16 {
        background: #f59563;
      }

      .tile-32 {
        background: #f67c5f;
      }

      .tile-64 {
        background: #f65e3b;
      }

      .tile-128 {
        background: #edcf72;
        font-size: 45px;
      }

      .tile-256 {
        font-size: 45px;
        background: #edcc61;
      }

      .tile-512 {
        font-size: 45px;
        background: #edc850;
      }

      .tile-1024 {
        background: #edc53f;
        font-size: 35px;
      }

      // @for $i from 0 through 3 {
      //   .X-#{$i} { transform: translateX(1.74rem * $i); }
      // }

      // @for $j from 0 through 3 {
      //   .Y-#{$j} { transform: translateY(1.74rem * $j); }
      // }
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    width: 7.7rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .game-over {
      @include font-dpr(40px);

      background: orangered;
      color: white;
      text-align: center;
    }
  }

  .scores-container {
    .score,
    .best-score {
      display: inline-block;
      background: #bbada0;
      padding: 15px 25px;
      font-size: 25px;
      height: 25px;
      line-height: 47px;
      font-weight: bold;
      border-radius: 3px;
      color: white;
      margin-top: 8px;
      margin-right: 8px;
      text-align: center;
    }

    .restart {
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      display: block;
      text-align: center;
      width: 2rem;
      font-size: 25px;
      margin-bottom: 0.2rem;
    }
  }
}
