<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div id="myDiv">点击跳转完成页</div>
<!--<div id="test-response-text">hhhhhh</div>-->
<script>
function loadXMLDoc()
{
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
        //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        // IE6, IE5 浏览器执行代码
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
        }
    }
    xmlhttp.open("POST","ajaxlistCategory",true);
    xmlhttp.send();
}
loadXMLDoc();

</script>
</body>
</html>