@import '../../resources/global.scss';

.btn {
  padding: 10px 0;
  margin: 0 150px;
  font-size: 30px;
  color: gold;
  background: black;
  text-align: center;
}

.area {
  font-size: 30px;
  background: gray;
  color: #fff;
  text-align: center;
  display: none;
  padding: 0;
  box-sizing: content-box;
}

.show_anim {
  display: block;
  animation: show_anim 1s ease forwards;
}

@keyframes show_anim {
  from {
    padding: 0;
  }

  to {
    padding: 50px 0;
  }
}
